.drink {
  display: inline-block;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid #009900;
  margin: 1em;
  max-width: 250px;
  vertical-align: top;
}

.drink ul {
  text-align: left;
}

.drink h3 {
  margin-top: 0;
}
